* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 3px solid blue;
    clear: both;
}

section {
    height: 200px;
    border: 3px solid black;
}

.firstBottom {
    width: 30%;
    float: left;
}

.secondBottom {
    width: 70%;
    float: left;
}